<!DOCTYPE html>
<html lang="en" ng-app="quizzApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="icon"  class="fa fa-graduation-cap" aria-hidden="true" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Quiz App</title>
	<link rel="stylesheet" href="css/style.css">
	
</head>
<body>

<div class="container">
	<div class="page-header">
		<h1><span class="glyphicon glyphicon-education"></span> Math Quiz</h1>
		<h3>
		Learn basic math
		<strong>Addition</strong>
		</h3>
	</div>

	<div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive">
	<form class="form-inline well well-sm clearfix">
		<span class="glyphicon glyphicon-search"></span>
		<input type="text" placeholder="Search..." class="form-control" ng-model="list.search">
		<button class="btn btn-warning pull-right" ng-click="list.activateQuiz()"><strong>Start Quiz</strong></button>
	</form>
		<div class="row">
			<div class="col-sm-6" ng-repeat="answere in list.data | filter:list.search">
				<div class="well well-sm">
					<div class="row">
						<div class="col-md-6">
							<img ng-src="{{answere.image_url}}" class="img-rounded img-responsive well-image">
						</div>
						<div class="col-md-6">
							<h4>{{answere.type}}</h4>
							<p><strong>Position: </strong>{{answere.location}}</p>
							<p><strong>Description: </strong>{{answere.description}}</p>
							<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#answere-info" ng-click="list.changeActiveAnswere(answere)">Learn More</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="answere-info">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2>{{list.activeAnswere.type}}</h2>
					</div>
					<div class="modal-body">
						<div class="row ">
							<div class="col-xs-8 col-xs-offset-2">
								<img ng-src="{{list.activeAnswere.image_url}}" class="img-rounded img-responsive">
							</div>
						</div>
						<div class="row top-buffer">
							<div class="col-md-6 ">
								<p><strong>Positions: </strong>{{list.activeAnswere.location}}</p>
							</div>
							<div class="col-xs-12 top-buffer">
								<p><strong>Description: </strong>{{list.activeAnswere.description}}</p>
								<button class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div><!-- List Controller -->

	<div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
		
		<h1>Quiz</h1>
	</div>

</div>
	
	<!-- third party js -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- application scripts -->
	<script src="js/app.js"></script>
	<script src="js/controllers/list.js"></script>
	<script src="js/controllers/quiz.js"></script>
	<script src="js/factories/quizMetrics.js"></script>
</body>
</html>